@import url("http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,300,400,700&subset=latin-ext,latin");
@import url(slider.css);
@import url(jquery.fancybox.css);
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block; }

audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

html,
button,
input,
select,
textarea {
  font-family: sans-serif; }

body {
  margin: 0; }

a:focus {
  outline: thin dotted; }

a:active,
a:hover,
nav ul li.current-menu-item > a {
  outline: 0; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

h2 {
  font-size: 1.5em;
  margin: 0.83em 0; }

h3 {
  font-size: 1.17em;
  margin: 1em 0; }

h4 {
  font-size: 1em;
  margin: 1.33em 0; }

h5 {
  font-size: 0.83em;
  margin: 1.67em 0; }

h6 {
  font-size: 0.67em;
  margin: 2.33em 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong,
#main .highlight,
#main dl.details-list dt {
  font-weight: bold; }

blockquote {
  margin: 1em 40px; }

dfn {
  font-style: italic; }

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

mark {
  background: #ff0;
  color: #000; }

p,
pre {
  margin: 1em 0; }

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: none; }

q:before,
q:after {
  content: '';
  content: none; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

dl,
menu,
ol,
ul {
  margin: 1em 0; }

dd {
  margin: 0 0 0 40px; }

menu,
ol,
ul {
  padding: 0 0 0 40px; }

nav ul,
nav ol {
  list-style: none;
  list-style-image: none; }

img {
  border: 0;
  -ms-interpolation-mode: bicubic; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 0; }

form {
  margin: 0; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0;
  white-space: normal;
  *margin-left: -7px; }

button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle; }

button,
input {
  line-height: normal; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
  *overflow: visible; }

button[disabled],
html input[disabled] {
  cursor: default; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *height: 13px;
  *width: 13px; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  *text-indent: -9999px; }
  .ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%; }

.hidden {
  display: none !important;
  visibility: hidden; }

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }
  .visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto; }

.invisible {
  visibility: hidden; }

.clearfix:before, .clearfix:after {
  content: " ";
  display: table; }
.clearfix:after {
  clear: both; }
.clearfix {
  *zoom: 1; }

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important; }

  a,
  a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: ""; }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group; }

  tr,
  img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  @page {
    margin: 0.5cm; }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }

  h2,
  h3 {
    page-break-after: avoid; } }
@font-face {
  font-family: "PMB Icons";
  src: url('fonts/pmb_icons-webfont.eot');
  src: url('fonts/pmb_icons-webfont.eot?#iefix') format('eot'), url('fonts/pmb_icons-webfont.woff') format('woff'), url('fonts/pmb_icons-webfont.ttf') format('truetype'), url('fonts/pmb_icons-webfont.svg') format('svg'); }

::selection {
  background: #004a9c;
  color: white; }

* html {
  font-size: 75%; }

html {
  font-size: 12px;
  line-height: 1.66667em; }

body {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  background: white;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.2); }

#container {
  width: 960px;
  margin: 0 auto;
  padding: 0; }
  @media screen and (min-width: 980px) {
    #container {
      width: 960px;
      margin: 0 auto;
      padding: 0; } }
  @media screen and (max-width: 979px) {
    #container {
      width: 100%;
      margin: 0; } }

.icon {
  font-style: normal;
  font-weight: normal;
  font-family: "PMB Icons";
  display: inline;
  float: left; }
  .icon span {
    display: inline-block;
    text-indent: -9999px;
    float: left;
    width: 0; }
  .icon.logo_pmb:after {
    content: 'P'; }
  .icon.print:after {
    content: 'p'; }
  .icon.search:after {
    content: 's'; }
  .icon.plus:after {
    content: '+'; }
  .icon.info:after {
    content: 'i'; }
  .icon.iso9001:after {
    content: '['; }
  .icon.iso14001:after {
    content: ']'; }
  .icon.upload:after {
    content: '2'; }
  .icon.w3:after, .icon.w17:after, .icon.w45:after {
    content: '\E113'; }
  .icon.w4:after, .icon.w37:after, .icon.w38:after, .icon.w39:after, .icon.w47:after {
    content: '\E108'; }
  .icon.w5:after, .icon.w6:after, .icon.w7:after, .icon.w9:after, .icon.w10:after, .icon.w18:after, .icon.w35:after {
    content: '\E110'; }
  .icon.w8:after {
    content: '\E10C'; }
  .icon.w11:after, .icon.w12:after {
    content: '\E10A'; }
  .icon.w13:after, .icon.w14:after, .icon.w42:after, .icon.w46:after {
    content: '\E10D'; }
  .icon.w15:after, .icon.w16:after, .icon.w43:after {
    content: '\E10F'; }
  .icon.w19:after, .icon.w20:after, .icon.w21:after, .icon.w22:after {
    content: '\E0FD'; }
  .icon.w23:after, .icon.w24:after {
    content: '\E0FE'; }
  .icon.w25:after {
    content: '\E0FF'; }
  .icon.w26:after, .icon.w44:after {
    content: '\E106'; }
  .icon.w27:after {
    content: '\E121'; }
  .icon.w28:after {
    content: '\E111'; }
  .icon.w29:after {
    content: '\E101'; }
  .icon.w30:after {
    content: '\E100'; }
  .icon.w31:after, .icon.w33:after {
    content: '\E0FB'; }
  .icon.w32:after, .icon.w34:after {
    content: '\E0FA'; }
  .icon.w36:after {
    content: '\E123'; }
  .icon.w40:after {
    content: '\E109'; }
  .icon.w29:after {
    content: '\E101'; }
  .icon.w30:after {
    content: '\E100'; }
  .icon.w1:after, .icon.w2:after, .icon.w3200:after {
    content: '\E125'; }
  .icon.celsius:after {
    content: '\E126'; }
  .icon.fahrenheit:after {
    content: '\E127'; }

header {
  *zoom: 1;
  max-width: 111%;
  _width: 111%;
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  *zoom: 1; }
  header:after {
    content: "";
    display: table;
    clear: both; }
  header #main {
    background-color: #21a3c4;
    padding-left: 0.45045%;
    padding-right: 0.45045%;
    width: 82.28228%;
    float: left;
    margin-right: 0.9009%;
    display: inline; }
    .home header #main {
      background-color: #004a9c; }
    @media screen and (min-width: 480px) and (max-width: 767px) {
      header #main {
        padding-left: 0.45045%;
        padding-right: 0.45045%;
        width: 73.87387%;
        float: left;
        margin-right: 0.9009%;
        display: inline; } }
    @media screen and (max-width: 479px) {
      header #main {
        padding-left: 0.45045%;
        padding-right: 0.45045%;
        width: 99.0991%;
        float: left;
        margin-right: 0.9009%;
        display: inline;
        margin-bottom: 1%; } }
  header #weather {
    background-color: #21a3c4;
    padding-left: 0.45045%;
    padding-right: 0.45045%;
    width: 15.01502%;
    float: right;
    margin-right: 0;
    *margin-left: -1%;
    display: inline; }
    .home header #weather {
      background-color: #004a9c; }
    @media screen and (min-width: 480px) and (max-width: 767px) {
      header #weather {
        padding-left: 0.45045%;
        padding-right: 0.45045%;
        width: 23.42342%;
        float: right;
        margin-right: 0;
        *margin-left: -1%;
        display: inline; } }
    @media screen and (max-width: 479px) {
      header #weather {
        padding-left: 0.45045%;
        padding-right: 0.45045%;
        width: 99.0991%;
        float: left;
        margin-right: 0.9009%;
        display: inline;
        margin-bottom: 1%; } }
  header #logo-pmb {
    display: inline;
    float: left;
    height: 153px; }
    header #logo-pmb h1 {
      margin: 33px 0 0 34px;
      overflow: hidden;
      *zoom: 1; }
      header #logo-pmb h1 a {
        color: inherit;
        text-decoration: inherit;
        cursor: inherit;
        color: #fff;
        font-size: 120px;
        line-height: 90px;
        height: 84px;
        width: 178px; }
        header #logo-pmb h1 a:active, header #logo-pmb h1 a:focus {
          outline: none; }
  header #helpers {
    display: inline;
    float: right;
    height: 123px;
    margin: 15px;
    font-size: 1.2em;
    position: relative; }
    header #helpers #top {
      display: block;
      overflow: hidden;
      *zoom: 1;
      display: inline;
      float: right; }
      header #helpers #top .separator,
      header #helpers #top #font_plus,
      header #helpers #top #font_minus,
      header #helpers #top #language_selector {
        display: inline;
        float: left; }
      header #helpers #top .separator {
        border-left: 1px solid white;
        margin: 3px 8px;
        height: 1em; }
      header #helpers #top #print {
        font-size: 1.8em; }
      header #helpers #top #font_plus,
      header #helpers #top #font_minus,
      header #helpers #top #print,
      header #helpers #top #language_selector a {
        color: inherit;
        text-decoration: inherit;
        cursor: inherit;
        color: white; }
        header #helpers #top #font_plus:active, header #helpers #top #font_plus:focus,
        header #helpers #top #font_minus:active,
        header #helpers #top #font_minus:focus,
        header #helpers #top #print:active,
        header #helpers #top #print:focus,
        header #helpers #top #language_selector a:active,
        header #helpers #top #language_selector a:focus {
          outline: none; }
        header #helpers #top #font_plus:visited,
        header #helpers #top #font_minus:visited,
        header #helpers #top #print:visited,
        header #helpers #top #language_selector a:visited {
          color: white; }
        header #helpers #top #font_plus:hover,
        header #helpers #top #font_minus:hover,
        header #helpers #top #print:hover,
        header #helpers #top #language_selector a:hover,
        header #helpers #top #language_selector nav ul li.current-menu-item > a,
        nav ul header #helpers #top #language_selector li.current-menu-item > a {
          color: #fdca00; }
        header #helpers #top #font_plus:active,
        header #helpers #top #font_minus:active,
        header #helpers #top #print:active,
        header #helpers #top #language_selector a:active {
          color: #fdca00; }
      header #helpers #top #language_selector {
        margin: 0;
        padding: 0;
        border: 0;
        overflow: hidden;
        *zoom: 1; }
        header #helpers #top #language_selector li {
          list-style-image: none;
          list-style-type: none;
          margin-left: 0;
          white-space: nowrap;
          display: inline;
          float: left;
          padding-left: 4px;
          padding-right: 4px; }
          header #helpers #top #language_selector li:first-child, header #helpers #top #language_selector li.first {
            padding-left: 0; }
          header #helpers #top #language_selector li:last-child {
            padding-right: 0; }
          header #helpers #top #language_selector li.last {
            padding-right: 0; }
        header #helpers #top #language_selector li {
          padding: 0 4px; }
          header #helpers #top #language_selector li.separator {
            margin-left: 4px;
            padding: 0; }
    header #helpers #bottom {
      display: block; }
      header #helpers #bottom #secondary-menu {
        margin: 65px 0 8px; }
        header #helpers #bottom #secondary-menu a {
          color: inherit;
          text-decoration: inherit;
          cursor: inherit;
          color: white;
          padding-right: 6px;
          margin-right: 4px;
          border-right: 1px solid white; }
          header #helpers #bottom #secondary-menu a:active, header #helpers #bottom #secondary-menu a:focus {
            outline: none; }
          header #helpers #bottom #secondary-menu a:visited {
            color: white; }
          header #helpers #bottom #secondary-menu a:hover, header #helpers #bottom #secondary-menu nav ul li.current-menu-item > a, nav ul header #helpers #bottom #secondary-menu li.current-menu-item > a {
            color: #fdca00; }
          header #helpers #bottom #secondary-menu a:active {
            color: #fdca00; }
          header #helpers #bottom #secondary-menu a:last-child {
            padding-right: 0;
            margin-right: 0;
            border-right: none; }
      header #helpers #bottom #searchbox form fieldset {
        border: none;
        margin: 0;
        padding: 3px 1px 0;
        background: white;
        height: 20px; }
        header #helpers #bottom #searchbox form fieldset input[type="text"] {
          border: none;
          background: none;
          display: inline;
          float: left;
          border-right: 1px solid #21a3c4;
          width: 175px; }
        header #helpers #bottom #searchbox form fieldset button {
          display: inline;
          float: right;
          background: none;
          border: none;
          font-size: 1.3em;
          line-height: 0.9em;
          color: #21a3c4; }
          header #helpers #bottom #searchbox form fieldset button:hover {
            color: #fdca00; }
  header #weather {
    height: 113px;
    color: white;
    padding-top: 40px; }
    header #weather a {
      color: inherit;
      text-decoration: inherit;
      cursor: inherit; }
      header #weather a:active, header #weather a:focus {
        outline: none; }
    header #weather .data {
      display: inline;
      float: left; }
      header #weather .data span {
        margin: 0;
        font-weight: 300;
        display: block; }
      header #weather .data .degrees {
        font-size: 2.2em;
        margin-bottom: 10px; }
      header #weather .data .date {
        border-top: 1px solid white;
        font-size: 0.9em; }
      header #weather .data .hour {
        font-size: 0.9em; }
    header #weather .image {
      display: inline;
      float: right;
      font-size: 5.5em;
      padding-top: 25px; }
    header #weather #switch_degrees {
      clear: both;
      padding-top: 5px; }
      header #weather #switch_degrees a {
        font-size: 0.9em;
        color: inherit;
        text-decoration: inherit;
        cursor: inherit;
        color: white; }
        header #weather #switch_degrees a:active, header #weather #switch_degrees a:focus {
          outline: none; }
        header #weather #switch_degrees a:visited {
          color: white; }
        header #weather #switch_degrees a:hover, header #weather #switch_degrees nav ul li.current-menu-item > a, nav ul header #weather #switch_degrees li.current-menu-item > a {
          color: #fdca00; }
        header #weather #switch_degrees a:active {
          color: #fdca00; }
        header #weather #switch_degrees a.current {
          filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
          opacity: 0.5; }

nav {
  background-color: #ff4d04;
  margin: 10px 0;
  z-index: 999;
  position: relative; }
  .home nav {
    background-color: #e50004; }
  nav ul {
    width: 100%;
    height: 48px;
    margin: 0;
    padding: 0; }
    nav ul li {
      float: left;
      position: relative; }
      nav ul li a {
        color: inherit;
        text-decoration: inherit;
        cursor: inherit;
        color: white;
        white-space: nowrap;
        overflow: hidden;
        -ms-text-overflow: ellipsis;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
        -moz-binding: url('xml/ellipsis.xml#ellipsis');
        font-size: 1.2em;
        display: block;
        padding: 14px 8px;
        border-left: 1px solid transparent;
        border-right: 1px solid transparent;
        white-space: nowrap;
        max-width: 300px; }
        nav ul li a:active, nav ul li a:focus {
          outline: none; }
        nav ul li a:hover, nav ul li.current-menu-item > a {
          background-color: #b63500;
          border-left: 1px solid #700004;
          border-right: 1px solid #ff2e04; }
          .home nav ul li a:hover, .home nav ul li.current-menu-item > a {
            background: #a30004;
            border-left: 1px solid #b63500;
            border-right: 1px solid #ff8351; }
    nav ul ul {
      display: none;
      position: absolute;
      background: rgba(255, 77, 4, 0.95);
      height: auto;
      width: auto; }
      .home nav ul ul {
        background: rgba(229, 0, 4, 0.95); }
      nav ul ul li {
        float: none;
        position: relative; }
        nav ul ul li a {
          padding: 8px; }
        nav ul ul li ul {
          display: none;
          left: 100%;
          top: 0;
          border-left: 1px solid #6a1f00; }
    nav ul > li:hover > ul {
      display: block; }
  nav .icon.plus {
    float: right;
    margin-left: 5px; }

.slider-wrapper {
  width: 100%;
  height: 350px;
  margin-bottom: 10px;
  position: relative;
  *zoom: 1;
  max-width: 111%;
  _width: 111%;
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  *zoom: 1;
  z-index: 1; }
  .slider-wrapper:after {
    content: "";
    display: table;
    clear: both; }
  .slider-wrapper #slider {
    width: 100%;
    float: right;
    margin-right: 0;
    *margin-left: -1%;
    display: inline; }
    .slider-wrapper #slider li {
      position: relative; }
      .slider-wrapper #slider li img {
        height: auto !important;
        width: 100%;
        position: relative;
        top: -25%; }
      .slider-wrapper #slider li .caption {
        background: rgba(0, 0, 0, 0.75);
        position: absolute;
        bottom: 75px;
        max-width: 75%;
        padding: 10px; }
        .slider-wrapper #slider li .caption .title {
          font-size: 5em;
          line-height: 0.9em;
          font-weight: 300;
          color: white;
          margin: 0 0 10px; }
        .slider-wrapper #slider li .caption .body {
          border-top: 1px solid white;
          padding-top: 10px;
          color: white;
          font-weight: 300;
          margin: 0; }
      .slider-wrapper #slider li .daynight {
        color: inherit;
        text-decoration: inherit;
        cursor: inherit;
        color: white;
        text-align: center;
        font-size: 4em;
        line-height: 1.2em;
        height: 1.2em;
        position: absolute;
        top: 0;
        right: 0;
        width: 15.91592%;
        float: right;
        margin-right: 0;
        *margin-left: -1%;
        display: inline;
        margin: 0;
        background-color: rgba(253, 202, 0, 0.8);
        font-style: normal;
        font-weight: normal;
        font-family: "PMB Icons"; }
        .slider-wrapper #slider li .daynight:active, .slider-wrapper #slider li .daynight:focus {
          outline: none; }
        .slider-wrapper #slider li .daynight:visited {
          color: white; }
        .slider-wrapper #slider li .daynight:hover {
          color: #004a9c; }
        .slider-wrapper #slider li .daynight:active {
          color: #004a9c; }
        .slider-wrapper #slider li .daynight.day:after {
          content: '{'; }
        .slider-wrapper #slider li .daynight.night:after {
          content: '}'; }
  .slider-wrapper #arrow-left,
  .slider-wrapper #arrow-right {
    position: absolute;
    bottom: 0;
    background: #fdca00; }
  .slider-wrapper #arrow-left {
    width: 15.91592%;
    float: left;
    margin-right: 0.9009%;
    display: inline;
    left: 0; }
  .slider-wrapper #arrow-right {
    width: 15.91592%;
    float: right;
    margin-right: 0;
    *margin-left: -1%;
    display: inline;
    right: 0; }
  .slider-wrapper .arrow a {
    display: block;
    text-align: center;
    font-size: 4em;
    line-height: 1.2em;
    height: 1.2em;
    color: white;
    color: inherit;
    text-decoration: inherit;
    cursor: inherit;
    font-style: normal;
    font-weight: normal;
    font-family: "PMB Icons"; }
    .slider-wrapper .arrow a:visited {
      color: white; }
    .slider-wrapper .arrow a:hover, .slider-wrapper .arrow nav ul li.current-menu-item > a, nav ul .slider-wrapper .arrow li.current-menu-item > a {
      color: #004a9c; }
    .slider-wrapper .arrow a:active {
      color: #004a9c; }
    .slider-wrapper .arrow a:active, .slider-wrapper .arrow a:focus {
      outline: none; }
    .slider-wrapper .arrow a span {
      display: inline-block;
      text-indent: -9999px;
      float: left;
      width: 0; }
  .slider-wrapper .arrow.back a:after {
    content: '<'; }
  .slider-wrapper .arrow.forward a:after {
    content: '>'; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 300; }

h1 {
  font-size: 3.6em; }

h2 {
  font-size: 3.2em; }

h3 {
  font-size: 2.8em; }

h4 {
  font-size: 2.4em; }

h5 {
  font-size: 2.0em; }

h5 {
  font-size: 1.6em; }

#main {
  *zoom: 1;
  max-width: 111%;
  _width: 111%;
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  *zoom: 1; }
  #main:after {
    content: "";
    display: table;
    clear: both; }
  #main .content {
    overflow: hidden;
    *zoom: 1;
    width: 100%;
    float: left;
    margin-right: 0.9009%;
    display: inline; }
    .home #main .content {
      width: 66.36637%;
      float: left;
      margin-right: 0.9009%;
      display: inline; }
  #main .sidebar {
    width: 32.73273%;
    float: right;
    margin-right: 0;
    *margin-left: -1%;
    display: inline;
    overflow: hidden;
    *zoom: 1; }
    #main .sidebar .title {
      border-color: #ff4d04; }
    #main .sidebar .file {
      display: block;
      padding: 10px 10px 135px;
      margin-bottom: 10px;
      position: relative; }
      #main .sidebar .file:after {
        content: 'a';
        color: white;
        font-family: "PMB Icons";
        position: absolute;
        font-size: 12em;
        line-height: 1em;
        bottom: -15px;
        right: 10px; }
      #main .sidebar .file a.pdf {
        color: inherit;
        text-decoration: inherit;
        cursor: inherit;
        color: white;
        font-size: 1.8em;
        font-weight: 300;
        padding-bottom: 120px; }
        #main .sidebar .file a.pdf:active, #main .sidebar .file a.pdf:focus {
          outline: none; }
        #main .sidebar .file a.pdf:visited {
          color: white; }
        #main .sidebar .file a.pdf:hover, #main .sidebar .file nav ul li.current-menu-item > a.pdf, nav ul #main .sidebar .file li.current-menu-item > a.pdf {
          color: black; }
        #main .sidebar .file a.pdf:active {
          color: black; }
      #main .sidebar .file.orange {
        background: #ff4d04; }
      #main .sidebar .file.green {
        background: #97bf00; }
    #main .sidebar .info {
      display: block;
      background: #21a3c4;
      padding: 10px;
      position: relative;
      overflow: hidden;
      *zoom: 1; }
      #main .sidebar .info .icon {
        color: white;
        font-size: 10em;
        line-height: 1em;
        float: none; }
      #main .sidebar .info p {
        line-height: 1.25em;
        margin: 0 0 15px;
        color: white;
        width: 60%;
        float: right; }
        #main .sidebar .info p:last-child {
          margin-bottom: 0; }
  #main .news.column {
    width: 49.32127%;
    float: left;
    margin-right: 1.35747%;
    display: inline; }
    #main .news.column .title {
      border-color: #21a3c4; }
    #main .news.column ul.links.alternate-row-colour li a:hover, #main .news.column nav ul.links.alternate-row-colour li.current-menu-item > a, nav #main .news.column ul.links.alternate-row-colour li.current-menu-item > a {
      background: #21a3c4; }
  #main .recent.column {
    width: 49.32127%;
    float: right;
    margin-right: 0;
    *margin-left: -1%;
    display: inline; }
    #main .recent.column .title {
      border-color: #fdca00; }
    #main .recent.column ul.links.alternate-row-colour li a:hover, #main .recent.column nav ul.links.alternate-row-colour li.current-menu-item > a, nav #main .recent.column ul.links.alternate-row-colour li.current-menu-item > a {
      background: #fdca00;
      color: black; }
  #main .links.colspan {
    width: 100%;
    float: left;
    margin-right: 1.35747%;
    display: inline;
    margin-top: 20px; }
    #main .links.colspan .title {
      border-color: #97bf00; }
    #main .links.colspan .module {
      width: 23.9819%;
      float: left;
      margin-right: 1.35747%;
      display: inline; }
      #main .links.colspan .module:last-child {
        width: 23.9819%;
        float: right;
        margin-right: 0;
        *margin-left: -1%;
        display: inline; }
      #main .links.colspan .module p {
        margin: 0.25em; }
      #main .links.colspan .module a {
        color: inherit;
        text-decoration: inherit;
        cursor: inherit;
        color: black; }
        #main .links.colspan .module a:active, #main .links.colspan .module a:focus {
          outline: none; }
        #main .links.colspan .module a:visited {
          color: black; }
        #main .links.colspan .module a:hover, #main .links.colspan .module nav ul li.current-menu-item > a, nav ul #main .links.colspan .module li.current-menu-item > a {
          color: #97bf00; }
        #main .links.colspan .module a:active {
          color: #97bf00; }
  #main .header {
    overflow: hidden;
    *zoom: 1; }
    #main .header.full {
      width: 95%;
      padding: 2.5%;
      margin-bottom: 10px; }
    #main .header.yellow {
      background: #fdca00; }
    #main .header.green {
      background: #97bf00; }
    #main .header h2 {
      font-weight: 300;
      font-size: 4.8em;
      line-height: 1em;
      margin: 0;
      color: white;
      position: relative;
      float: left; }
      #main .header h2.short {
        width: 85%; }
    #main .header .upload {
      float: right;
      font-size: 180px;
      color: white;
      line-height: 0.8em;
      height: 130px; }
      #main .header .upload:after {
        content: '2';
        font-family: "PMB Icons";
        display: block; }
  #main .title {
    font-weight: 300;
    line-height: 1.1em;
    color: #504f53;
    margin: 0 0 0.25em;
    padding: 0.25em 0;
    border-top: 1px solid #21a3c4;
    border-bottom: 1px solid #21a3c4; }
    #main .title.small {
      font-size: 2.4em; }
  #main .highlight {
    color: #21a3c4;
    font-size: 1.1em; }
  #main .columns_2 {
    *zoom: 1;
    max-width: 111%;
    _width: 111%;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto; }
    #main .columns_2:after {
      content: "";
      display: table;
      clear: both; }
    #main .columns_2 .header {
      *zoom: 1;
      max-width: 111%;
      _width: 111%;
      padding-left: 0;
      padding-right: 0;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 10px; }
      #main .columns_2 .header:after {
        content: "";
        display: table;
        clear: both; }
      #main .columns_2 .header .title {
        width: 49.54955%;
        float: left;
        margin-right: 0.9009%;
        display: inline;
        font-size: 2.5em;
        border: none;
        margin-top: 100px; }
        #main .columns_2 .header .title .small {
          display: block;
          font-size: 0.8em;
          color: #21a3c4; }
      #main .columns_2 .header .image {
        width: 49.54955%;
        float: right;
        margin-right: 0;
        *margin-left: -1%;
        display: inline;
        height: 350px;
        overflow: hidden; }
        #main .columns_2 .header .image img {
          width: 100%;
          height: auto; }
    #main .columns_2 .column {
      width: 49.54955%;
      float: left;
      margin-right: 0.9009%;
      display: inline; }
      #main .columns_2 .column:last-child {
        float: right;
        margin-right: 0;
        *margin-left: -1%;
        display: inline; }
      #main .columns_2 .column.activity .title {
        border-color: #97bf00; }
      #main .columns_2 .column.activity h1, #main .columns_2 .column.activity h2, #main .columns_2 .column.activity h3, #main .columns_2 .column.activity h4, #main .columns_2 .column.activity h5, #main .columns_2 .column.activity h6, #main .columns_2 .column.activity strong, #main .columns_2 .column.activity .highlight, #main .columns_2 .column.activity dl.details-list dt, #main dl.details-list .columns_2 .column.activity dt {
        color: #97bf00; }
      #main .columns_2 .column.schools .title,
      #main .columns_2 .column.schools dl.details-list {
        border-color: #ff4d04; }
      #main .columns_2 .column.schools h1, #main .columns_2 .column.schools h2, #main .columns_2 .column.schools h3, #main .columns_2 .column.schools h4, #main .columns_2 .column.schools h5, #main .columns_2 .column.schools h6, #main .columns_2 .column.schools strong, #main .columns_2 .column.schools .highlight, #main .columns_2 .column.schools dl.details-list dt, #main dl.details-list .columns_2 .column.schools dt {
        color: #ff4d04; }
      #main .columns_2 .column .title {
        font-size: 2em; }
        #main .columns_2 .column .title.cyan {
          border-color: #21a3c4; }
        #main .columns_2 .column .title.green {
          border-color: #97bf00; }
        #main .columns_2 .column .title.orange {
          border-color: #ff4d04; }
      #main .columns_2 .column article {
        padding: 5px; }
        #main .columns_2 .column article h2 {
          color: #504f53;
          margin: 0 0 10px;
          font-size: 2em;
          line-height: 1.25em; }
          #main .columns_2 .column article h2 a.outlink {
            color: inherit;
            text-decoration: inherit;
            cursor: inherit;
            color: #504f53; }
            #main .columns_2 .column article h2 a.outlink:active, #main .columns_2 .column article h2 a.outlink:focus {
              outline: none; }
            #main .columns_2 .column article h2 a.outlink:visited {
              color: #504f53; }
            #main .columns_2 .column article h2 a.outlink:hover, #main .columns_2 .column article h2 nav ul li.current-menu-item > a.outlink, nav ul #main .columns_2 .column article h2 li.current-menu-item > a.outlink {
              color: #808083; }
            #main .columns_2 .column article h2 a.outlink:active {
              color: #808083; }
            #main .columns_2 .column article h2 a.outlink:after {
              content: '#';
              font-family: "PMB Icons";
              font-size: 1.3em;
              margin-left: 10px; }
        #main .columns_2 .column article h4 {
          color: #808083;
          margin: 0 0 10px;
          font-size: 1.4em; }
        #main .columns_2 .column article p {
          margin: 0 0 10px; }
        #main .columns_2 .column article.cyan {
          border-top: 1px solid #21a3c4; }
          #main .columns_2 .column article.cyan:hover {
            background: rgba(33, 163, 196, 0.25); }
          #main .columns_2 .column article.cyan:first-child {
            border: none; }
          #main .columns_2 .column article.cyan h2 a.outlink:after {
            color: #21a3c4; }
        #main .columns_2 .column article.green {
          border-top: 1px solid #97bf00; }
          #main .columns_2 .column article.green:hover {
            background: rgba(151, 191, 0, 0.25); }
          #main .columns_2 .column article.green:first-child {
            border: none; }
          #main .columns_2 .column article.green h2 a.outlink:after {
            color: #97bf00; }
        #main .columns_2 .column article.orange {
          border-top: 1px solid #ff4d04; }
          #main .columns_2 .column article.orange:hover {
            background: rgba(255, 77, 4, 0.25); }
          #main .columns_2 .column article.orange:first-child {
            border: none; }
          #main .columns_2 .column article.orange h2 a.outlink:after {
            color: #ff4d04; }
  #main .full_page form {
    margin-bottom: 10px; }
    #main .full_page form.cyan {
      background: #21a3c4;
      padding: 20px; }
    #main .full_page form fieldset {
      border: none;
      margin: 0;
      padding: 0; }
      #main .full_page form fieldset h3 {
        margin: 0 0 20px;
        font-size: 3em;
        line-height: 1em;
        color: white; }
      #main .full_page form fieldset ul {
        list-style: none;
        overflow: hidden;
        *zoom: 1;
        margin: 0;
        padding: 0; }
        #main .full_page form fieldset ul li {
          list-style-image: none;
          list-style-type: none;
          margin-left: 0; }
        #main .full_page form fieldset ul li {
          width: 50%;
          float: left;
          margin-bottom: 10px; }
          #main .full_page form fieldset ul li label {
            color: white;
            width: 100%;
            overflow: hidden;
            *zoom: 1;
            cursor: pointer; }
            #main .full_page form fieldset ul li label span {
              display: block;
              width: 30%;
              margin: 3px 5% 0 0;
              float: left; }
            #main .full_page form fieldset ul li label input,
            #main .full_page form fieldset ul li label select {
              float: left;
              width: 60%;
              border: none;
              height: 24px; }
  #main .full_page .results .helpers {
    overflow: hidden;
    *zoom: 1;
    margin-bottom: 10px; }
    #main .full_page .results .helpers .left {
      display: inline;
      float: left; }
    #main .full_page .results .helpers .right {
      display: inline;
      float: right; }
    #main .full_page .results .helpers a {
      color: inherit;
      text-decoration: inherit;
      cursor: inherit;
      color: #21a3c4; }
      #main .full_page .results .helpers a:active, #main .full_page .results .helpers a:focus {
        outline: none; }
      #main .full_page .results .helpers a:visited {
        color: #21a3c4; }
      #main .full_page .results .helpers a:hover, #main .full_page .results .helpers nav ul li.current-menu-item > a, nav ul #main .full_page .results .helpers li.current-menu-item > a {
        color: #ff4d04; }
      #main .full_page .results .helpers a:active {
        color: #ff4d04; }
  #main .full_page .results .listing .result {
    margin-bottom: 10px; }
    #main .full_page .results .listing .result p {
      line-height: 1.3em; }
    #main .full_page .results .listing .result .link {
      margin: 0; }
      #main .full_page .results .listing .result .link a {
        color: inherit;
        text-decoration: inherit;
        cursor: inherit;
        color: #21a3c4; }
        #main .full_page .results .listing .result .link a:active, #main .full_page .results .listing .result .link a:focus {
          outline: none; }
        #main .full_page .results .listing .result .link a:visited {
          color: #21a3c4; }
        #main .full_page .results .listing .result .link a:hover, #main .full_page .results .listing .result .link nav ul li.current-menu-item > a, nav ul #main .full_page .results .listing .result .link li.current-menu-item > a {
          color: #ff4d04; }
        #main .full_page .results .listing .result .link a:active {
          color: #ff4d04; }
    #main .full_page .results .listing .result .details {
      margin: 0; }
    #main .full_page .results .listing .result .date {
      margin: 0;
      color: #808083; }
  #main ul.links.alternate-row-colour {
    list-style: none;
    margin: 0;
    padding: 0; }
    #main ul.links.alternate-row-colour li {
      list-style-image: none;
      list-style-type: none;
      margin-left: 0; }
    #main ul.links.alternate-row-colour li {
      margin: 5px 0; }
      #main ul.links.alternate-row-colour li a {
        color: inherit;
        text-decoration: inherit;
        cursor: inherit;
        color: black;
        overflow: hidden;
        -ms-text-overflow: ellipsis;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
        -moz-binding: url('xml/ellipsis.xml#ellipsis');
        display: block;
        padding: 5px; }
        #main ul.links.alternate-row-colour li a:active, #main ul.links.alternate-row-colour li a:focus {
          outline: none; }
        #main ul.links.alternate-row-colour li a:visited {
          color: black; }
        #main ul.links.alternate-row-colour li a:hover, #main nav ul.links.alternate-row-colour li.current-menu-item > a, nav #main ul.links.alternate-row-colour li.current-menu-item > a {
          color: white; }
        #main ul.links.alternate-row-colour li a:active {
          color: white; }
        #main ul.links.alternate-row-colour li a:hover, #main nav ul.links.alternate-row-colour li.current-menu-item > a, nav #main ul.links.alternate-row-colour li.current-menu-item > a {
          color: white;
          background: #004a9c; }
        #main ul.links.alternate-row-colour li a.new:before {
          content: 'NOU!';
          color: #e50004;
          margin-right: 5px; }
      #main ul.links.alternate-row-colour li:nth-child(even) {
        color: #808083; }
        #main ul.links.alternate-row-colour li:nth-child(even) a {
          color: #808083; }
          #main ul.links.alternate-row-colour li:nth-child(even) a:visited {
            color: #808083; }
          #main ul.links.alternate-row-colour li:nth-child(even) a:hover, #main nav ul.links.alternate-row-colour li:nth-child(even) li.current-menu-item > a, nav #main ul.links.alternate-row-colour li:nth-child(even) li.current-menu-item > a {
            color: white; }
          #main ul.links.alternate-row-colour li:nth-child(even) a:active {
            color: white; }
  #main dl.details-list {
    margin-bottom: 10px;
    border-bottom: 1px solid #21a3c4;
    overflow: hidden;
    *zoom: 1; }
    #main dl.details-list dt, #main dl.details-list dd {
      float: left;
      margin-bottom: 10px; }
    #main dl.details-list dt {
      width: 30%;
      margin-right: 5%;
      clear: both; }
    #main dl.details-list dd {
      width: 65%;
      margin-left: 0; }

.gallery .hero {
  *zoom: 1;
  max-width: 111%;
  _width: 111%;
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto; }
  .gallery .hero:after {
    content: "";
    display: table;
    clear: both; }
  .gallery .hero a {
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative; }
    .gallery .hero a img {
      width: 100%;
      height: auto; }
    .gallery .hero a .description {
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      height: 100%;
      padding: 15px;
      color: white;
      -webkit-transition-property: top;
      -moz-transition-property: top;
      -o-transition-property: top;
      transition-property: top;
      -webkit-transition-duration: 0.25s;
      -moz-transition-duration: 0.25s;
      -o-transition-duration: 0.25s;
      transition-duration: 0.25s;
      -webkit-transition-timing-function: ease-in-out;
      -moz-transition-timing-function: ease-in-out;
      -o-transition-timing-function: ease-in-out;
      transition-timing-function: ease-in-out; }
      .gallery .hero a .description h3 {
        font-size: 2.5em;
        font-weight: 300;
        line-height: 1.25em;
        margin: 0 0 20px;
        border-bottom: 1px solid white; }
      .gallery .hero a .description p {
        font-size: 1.1em;
        line-height: 1.5em; }
      .gallery .hero a .description:after {
        content: '+';
        font-family: "PMB Icons";
        position: absolute;
        bottom: 20px;
        left: 20px;
        font-size: 5em;
        height: 1em; }
    .gallery .hero a:hover .description, .gallery .hero nav ul li.current-menu-item > a .description, nav ul .gallery .hero li.current-menu-item > a .description {
      top: 0; }
  .gallery .hero .hero_1 {
    width: 49.54955%;
    float: left;
    margin-right: 0.9009%;
    display: inline;
    height: 640px; }
    .gallery .hero .hero_1 .description {
      background-color: rgba(33, 163, 196, 0.8); }
  .gallery .hero .hero_2 {
    width: 49.54955%;
    float: left;
    margin-right: 0.9009%;
    display: inline;
    float: right;
    margin-right: 0;
    *margin-left: -1%;
    display: inline;
    height: 315px;
    margin-bottom: 10px; }
    .gallery .hero .hero_2 .description {
      background-color: rgba(255, 77, 4, 0.8); }
  .gallery .hero .hero_3 {
    width: 24.32432%;
    float: left;
    margin-right: 0.9009%;
    display: inline;
    height: 315px;
    margin-bottom: 10px; }
    .gallery .hero .hero_3 .description {
      background-color: rgba(229, 0, 4, 0.8); }
  .gallery .hero .hero_4 {
    width: 24.32432%;
    float: left;
    margin-right: 0.9009%;
    display: inline;
    float: right;
    margin-right: 0;
    *margin-left: -1%;
    display: inline;
    height: 315px;
    margin-bottom: 10px; }
    .gallery .hero .hero_4 .description {
      background-color: rgba(151, 191, 0, 0.8); }
  .gallery .hero .hero_5 {
    width: 100%;
    float: left;
    margin-right: 0.9009%;
    display: inline;
    height: 315px;
    margin-bottom: 10px; }
    .gallery .hero .hero_5 .description {
      background-color: rgba(253, 202, 0, 0.8); }
.gallery .galleries {
  *zoom: 1;
  max-width: 111%;
  _width: 111%;
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto; }
  .gallery .galleries:after {
    content: "";
    display: table;
    clear: both; }
  .gallery .galleries .gallery {
    width: 49.54955%;
    float: left;
    margin-right: 0.9009%;
    display: inline;
    margin-bottom: 10px; }
    .gallery .galleries .gallery:nth-child(2n) {
      float: right;
      margin-right: 0;
      *margin-left: -1%;
      display: inline; }
    .gallery .galleries .gallery .thumbnail {
      float: left;
      display: block;
      width: 25%;
      height: 80px;
      overflow: hidden;
      margin-right: 2%; }
      .gallery .galleries .gallery .thumbnail img {
        width: 100%;
        height: auto; }
    .gallery .galleries .gallery a {
      background: #808083;
      color: inherit;
      text-decoration: inherit;
      cursor: inherit;
      color: white;
      display: block;
      float: left;
      width: 63%;
      height: 45px;
      padding: 25px 5% 10px;
      position: relative;
      font-size: 1.3em; }
      .gallery .galleries .gallery a:active, .gallery .galleries .gallery a:focus {
        outline: none; }
      .gallery .galleries .gallery a:visited {
        color: white; }
      .gallery .galleries .gallery a:hover, .gallery .galleries .gallery nav ul li.current-menu-item > a, nav ul .gallery .galleries .gallery li.current-menu-item > a {
        color: black; }
      .gallery .galleries .gallery a:active {
        color: black; }
      .gallery .galleries .gallery a:hover, .gallery .galleries .gallery nav ul li.current-menu-item > a, nav ul .gallery .galleries .gallery li.current-menu-item > a {
        background-color: #21a3c4; }
      .gallery .galleries .gallery a:after {
        content: '+';
        font-family: "PMB Icons";
        color: white;
        position: absolute;
        right: 20px;
        bottom: 15px;
        font-size: 2em;
        height: 1em; }

footer {
  overflow: hidden;
  *zoom: 1;
  *zoom: 1;
  max-width: 111%;
  _width: 111%;
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  background: #ff4d04;
  margin-top: 10px;
  padding: 10px 0; }
  footer:after {
    content: "";
    display: table;
    clear: both; }
  footer #lloyds {
    padding-left: 0.45045%;
    padding-right: 0.45045%;
    width: 57.05706%;
    float: left;
    margin-right: 0.9009%;
    display: inline; }
    @media screen and (min-width: 768px) {
      footer #lloyds {
        padding-left: 0.45045%;
        padding-right: 0.45045%;
        width: 57.05706%;
        float: left;
        margin-right: 0.9009%;
        display: inline; } }
    @media screen and (min-width: 480px) and (max-width: 767px) {
      footer #lloyds {
        padding-left: 0.45045%;
        padding-right: 0.45045%;
        width: 48.64865%;
        float: left;
        margin-right: 0.9009%;
        display: inline; } }
    @media screen and (max-width: 479px) {
      footer #lloyds {
        padding-left: 0.45045%;
        padding-right: 0.45045%;
        width: 99.0991%;
        float: left;
        margin-right: 0.9009%;
        display: inline;
        margin-bottom: 1%; } }
    footer #lloyds .iso9001,
    footer #lloyds .iso14001 {
      color: inherit;
      text-decoration: inherit;
      cursor: inherit;
      color: white;
      font-size: 11em;
      padding: 50px 0 0 20px;
      float: left; }
      footer #lloyds .iso9001:active, footer #lloyds .iso9001:focus,
      footer #lloyds .iso14001:active,
      footer #lloyds .iso14001:focus {
        outline: none; }
  footer #address {
    padding-left: 0.45045%;
    padding-right: 0.45045%;
    width: 31.83183%;
    float: right;
    margin-right: 0;
    *margin-left: -1%;
    display: inline;
    border-left: 1px solid white; }
    @media screen and (min-width: 768px) {
      footer #address {
        padding-left: 0.45045%;
        padding-right: 0.45045%;
        width: 31.83183%;
        float: right;
        margin-right: 0;
        *margin-left: -1%;
        display: inline; } }
    @media screen and (min-width: 480px) and (max-width: 767px) {
      footer #address {
        padding-left: 0.45045%;
        padding-right: 0.45045%;
        width: 48.64865%;
        float: right;
        margin-right: 0;
        *margin-left: -1%;
        display: inline; } }
    @media screen and (max-width: 479px) {
      footer #address {
        padding-left: 0.45045%;
        padding-right: 0.45045%;
        width: 99.0991%;
        float: left;
        margin-right: 0.9009%;
        display: inline;
        margin-bottom: 1%; } }
    footer #address p {
      font-weight: 300;
      color: white;
      margin: 5px 0 12px 15px;
      line-height: 1.2em; }
