h1, h2, h3, h4, h5, h6 {
	font-weight: 300;
}

h1 {
	font-size:3.6em;
}

h2 {
	font-size:3.2em;
}

h3 {
	font-size:2.8em;
}

h4 {
	font-size:2.4em;
}

h5 {
	font-size:2.0em;
}

h5 {
	font-size:1.6em;
}

#main {
	@include container;
	@include clearfix;

	.content {
		@include clearfix;
		@include span-columns(12, 12);

		.home & {
			@include span-columns(8, 12);
		}
	} // .content

	.sidebar {
		@include span-columns(4 omega, 12);
		@include clearfix;

		.title {
			border-color:$orange;
		}

		.file {
			display: block;
			padding: 10px 10px 135px;
			margin-bottom: 10px;
			position: relative;

			&:after {
				content:'a';
				color: $white;
				font-family: $icon_font;
				position: absolute;
				font-size: 12em;
				line-height: 1em;
				bottom: -15px;
				right: 10px;
			}

			a.pdf {
				@include unstyled-link;
				@include link-colors($white, $black, $black, $white);
				font-size: 1.8em;
				font-weight: 300;
				padding-bottom: 120px;
			}

			&.orange {
				background:$orange;
			}

			&.green {
				background: $green;
			}
		} // .file

		.info {
			display: block;
			background:$cyan;
			padding: 10px;
			position: relative;
			@include clearfix;

			.icon {
				color:$white;
				font-size: 10em;
				line-height: 1em;
				float: none;
			}

			p {
				line-height: 1.25em;
				margin: 0 0 15px;
				color: $white;
				width: 60%;
				float: right;

				&:last-child {
					margin-bottom: 0;
				}
			}
		}
	} // .sidebar

	.news.column {
		@include span-columns(4, 8);

		.title {
			border-color:$cyan;
		}

		ul.links.alternate-row-colour {
			li {
				a {
					&:hover {
						background: $cyan;
					}
				}
			}
		}
	} // .news.column

	.recent.column {
		@include span-columns(4 omega, 8);

		.title {
			border-color:$yellow;
		}

		ul.links.alternate-row-colour {
			li {
				a {
					&:hover {
						background: $yellow;
						color:$black;
					}
				}
			}
		}
	} // .recent.column

	.links.colspan {
		@include span-columns(8, 8);
		margin-top: 20px;

		.title {
			border-color:$green;
		}

		.module {
			@include span-columns(2, 8);

			&:last-child {
				@include span-columns(2 omega, 8);
			}

			p {
				margin: 0.25em;
			}

			a {
				@include unstyled-link;
				@include link-colors($black, $green, $green, $black);
			}
		}
	} // .links.colspan

	.header {
		@include clearfix;

		&.full {
			width: 95%;
			padding: 2.5%;
			margin-bottom: 10px;
		}

		&.yellow {
			background:$yellow;
		}

		&.green {
			background:$green;
		}

		h2 {
			font-weight: 300;
			font-size: 4.8em;
			line-height: 1em;
			margin: 0;
			color: $white;
			position: relative;
			float: left;

			&.short {
				width: 85%;
			}
		} // h2

		.upload {
			float: right;
			font-size: 180px;
			color: $white;
			line-height: 0.8em;
			height: 130px;

			&:after {
				content: '2';
				font-family: $icon_font;
				display: block;
			}
		}
	}

	.title {
		font: {
			// size:3.6em;
			weight:300;
		}
		line-height: 1.1em;
		color: $gray-dark;
		margin: 0 0 0.25em;
		padding: 0.25em 0;
		border-top:1px solid $cyan;
		border-bottom:1px solid $cyan;

		&.small {
			font-size: 2.4em;
		}
	} // .title

	.highlight {
		@extend strong;
		color: $cyan;
		font-size: 1.1em;
	}

	.columns_2 {
		@include container;

		.header {
			@include container;
			margin-bottom: 10px;

			.title {
				@include span-columns(6, 12);
				font-size: 2.5em;
				border:none;
				margin-top: 100px;

				.small {
					display: block;
					font-size: 0.8em;
					color: $cyan
				}
			}

			.image {
				@include span-columns(6 omega, 12);
				height: 350px;
				overflow: hidden;

				img {
					width: 100%;
					height: auto;
				}
			}
		}

		.column {
			@include span-columns(6, 12);

			&:last-child {
				@include omega();
			}

			&.activity {
				.title {
					border-color: $green;
				}

				h1, h2, h3, h4, h5, h6, strong {
					color: $green
				}
			} // .activity

			&.schools {
				.title,
				dl.details-list {
					border-color: $orange;
				}

				h1, h2, h3, h4, h5, h6, strong {
					color: $orange
				}
			} // .schools

			.title {
				font-size: 2em;

				&.cyan {
					border-color: $cyan;
				}

				&.green {
					border-color: $green;
				}

				&.orange {
					border-color: $orange;
				}
			} // .title

			article {
				padding: 5px;

				h2 {
					color: $gray_dark;
					margin:0 0 10px;
					font-size: 2em;
					line-height: 1.25em;

					a.outlink {
						@include unstyled-link;
						@include link-colors($gray_dark, $gray, $gray, $gray_dark);

						&:after {
							content: '#';
							font-family: $icon_font;
							font-size: 1.3em;
							margin-left: 10px;
						}
					}
				} // h2

				h4 {
					color: $gray;
					margin: 0 0 10px;
					font-size: 1.4em;
				}

				p {
					margin: 0 0 10px;
				}

				&.cyan {
					border-top: 1px solid $cyan;

					&:hover {
						background:fade-out($cyan, 0.75);
					}

					&:first-child {
						border:none;
					}

					h2 {
						a.outlink:after {
							color: $cyan;
						}
					}
				}

				&.green {
					border-top: 1px solid $green;

					&:hover {
						background:fade-out($green, 0.75);
					}

					&:first-child {
						border:none;
					}

					h2 {
						a.outlink:after {
							color: $green;
						}
					}
				}

				&.orange {
					border-top: 1px solid $orange;

					&:hover {
						background:fade-out($orange, 0.75);
					}

					&:first-child {
						border:none;
					}

					h2 {
						a.outlink:after {
							color: $orange;
						}
					}
				}
			}
		} // .column
	} // .columns_2

	.full_page {
		form {
			margin-bottom: 10px;

			&.cyan {
				background:$cyan;
				padding: 20px;
			}

			fieldset {
				border:none;
				margin: 0;
				padding: 0;

				h3 {
					margin: 0 0 20px;
					font-size: 3em;
					line-height: 1em;
					color: $white;
				}

				ul {
					@include no-bullets;
					@include clearfix;
					margin: 0;
					padding: 0;

					li {
						width: 50%;
						float:left;
						margin-bottom: 10px;

						label {
							color: $white;
							width: 100%;
							@include clearfix;
							cursor: pointer;

							span {
								display: block;
								width: 30%;
								margin: 3px 5% 0 0;
								float: left;
							}

							input,
							select {
								float: left;
								width: 60%;
								border:none;
								height: 24px;
							}
						}
					}
				}
			}
		}

		.results {
			.helpers {
				@include clearfix;
				margin-bottom: 10px;

				.left {
					@include float-left;
				}

				.right {
					@include float-right;
				}

				a {
					@include unstyled-link;
					@include link-colors($cyan, $orange, $orange, $cyan);
				}
			}

			.listing {
				.result {
					margin-bottom: 10px;

					p {
						line-height: 1.3em;
					}

					.link {
						margin: 0;

						a {
							@include unstyled-link;
							@include link-colors($cyan, $orange, $orange, $cyan);
						}
					}

					.details {
						margin: 0;
					}

					.date {
						margin: 0;
						color: $gray;
					}
				}
			}
		}
	}

	ul.links.alternate-row-colour {
		@include no-bullets;
		margin: 0;
		padding: 0;

		li {
			margin: 5px 0;

			a {
				@include unstyled-link;
				@include link-colors($black, $white, $white, $black);
				@include ellipsis(false);
				display: block;
				padding: 5px;

				&:hover {
					color: $white;
					background: $blue;
				}

				&.new:before {
					content: 'NOU!';
					color: $red;
					margin-right: 5px;
				}
			} // a

			&:nth-child(even) {
				color:$gray;

				a {
					@include link-colors($gray, $white, $white, $gray);
				}
			} // nth-child(even)
		} // li
	} // ul.links.alternate-row-colour

	dl.details-list {
		margin-bottom: 10px;
		border-bottom: 1px solid $cyan;
		@include clearfix;

		dt, dd {
			float: left;
			margin-bottom: 10px;
		}

		dt {
			width: 30%;
			margin-right: 5%;
			clear: both;
			@extend strong;
		}

		dd {
			width: 65%;
			margin-left: 0;
		}
	} // dl.details-list
} // #main