footer {
	@include clearfix;
	@include container;
	background:$orange;
	margin-top: 10px;
	padding: 10px 0;

	#lloyds {
		@include span-columns(7, 12, $column-padding);

		@media screen and (min-width: 768px) {
			@include span-columns(7, 12, $column-padding);
		}

		@media screen and (min-width: 480px) and (max-width: 767px)  {
			@include span-columns(6, 12, $column-padding);
		}

		@media screen and (max-width: 479px) {
			@include span-columns(12, 12, $column-padding);
			margin-bottom: $gutter-width;
		}

		.iso9001,
		.iso14001 {
			@include unstyled-link;
			color: $white;
			font-size: 11em;
			padding: 50px 0 0 20px;
			float: left;
		}
	} // #lloyds

	#address {
		@include span-columns(4 omega, 12, $column-padding);

		@media screen and (min-width: 768px) {
			@include span-columns(4 omega, 12, $column-padding);
		}

		@media screen and (min-width: 480px) and (max-width: 767px) {
			@include span-columns(6 omega, 12, $column-padding);
		}

		@media screen and (max-width: 479px) {
			@include span-columns(12, 12, $column-padding);
			margin-bottom: $gutter-width;
		}

		border-left:1px solid $white;

		p {
			font-weight: 300;
			color: $white;
			margin:5px 0 12px 15px;
			line-height: 1.2em;
		}
	} // #address
}