.gallery {
	.hero {
		@include container;

		a {
			display: block;
			width: 100%;
			height: 100%;
			overflow: hidden;
			position: relative;

			img {
				width: 100%;
				height: auto;
			} // img

			.description {
				position: absolute;
				top: 100%;
				left: 0;
				right: 0;
				height: 100%;
				padding: 15px;
				color:$white;
				@include transition-property(top);
				@include transition-duration(0.25s);
				@include transition-timing-function('ease-in-out');

				h3 {
					font-size: 2.5em;
					font-weight: 300;
					line-height: 1.25em;
					margin: 0 0 20px;
					border-bottom: 1px solid $white;
				}

				p {
					font-size: 1.1em;
					line-height: 1.5em;
				}

				&:after {
					content: '+';
					font-family: $icon_font;
					position: absolute;
					bottom: 20px;
					left: 20px;
					font-size: 5em;
					height: 1em;
				}
			} // .description

			&:hover {
				.description {
					top: 0;
				}
			}
		} // a

		.hero_1 {
			@include span-columns(6, 12);
			height: 640px;

			.description {
				background-color: fade-out($cyan, 0.2);
			}
		} // .hero_1

		.hero_2 {
			@include span-columns(6, 12);
			@include omega();
			height: 315px;
			margin-bottom: 10px;

			.description {
				background-color: fade-out($orange, 0.2);
			}
		} // .hero_2

		.hero_3 {
			@include span-columns(3, 12);
			height: 315px;
			margin-bottom: 10px;

			.description {
				background-color: fade-out($red, 0.2);
			}
		} // .hero_3

		.hero_4 {
			@include span-columns(3, 12);
			@include omega();
			height: 315px;
			margin-bottom: 10px;

			.description {
				background-color: fade-out($green, 0.2);
			}
		} // .hero_4

		.hero_5 {
			@include span-columns(12, 12);
			height: 315px;
			margin-bottom: 10px;

			.description {
				background-color: fade-out($yellow, 0.2);
			}
		} // .hero_5
	} // .hero

	.galleries {
		@include container;

		.gallery {
			@include span-columns(6, 12);
			margin-bottom: 10px;

			&:nth-child(2n) {
				@include omega();
			}

			.thumbnail {
				float: left;
				display: block;
				width: 25%;
				height: 80px;
				overflow: hidden;
				margin-right: 2%;

				img {
					width: 100%;
					height: auto;
				}
			}

			a {
				background:$gray;
				@include unstyled-link;
				@include link-colors($white, $black, $black, $white);
				display: block;
				float: left;
				width: 63%;
				height: 45px;
				padding: 25px 5% 10px;
				position: relative;
				font-size: 1.3em;

				&:hover {
					background-color: $cyan;
				}

				&:after {
					content: '+';
					font-family: $icon_font;
					color: $white;
					position: absolute;
					right: 20px;
					bottom: 15px;
					font-size: 2em;
					height: 1em;
				}
			}
		}
	} // .galleries
}