::selection {
	background:$blue;
	color:$white;
}

@include establish-baseline();

body {
	font: {
		family: $main_font;
		weight: 400;
	}
	background: $white;
	@include text-shadow(0 0 1px rgba(0, 0, 0, 0.2)); // smoother fonts, fake anti-aliasing
}

#container {
	width: 960px;
	margin: 0 auto;
	padding: 0;

	@media screen and (min-width: 980px) {
		width: 960px;
		margin: 0 auto;
		padding: 0;
	}

	@media screen and (max-width: 979px) {
		width: 100%;
		margin: 0;
	}
}

.icon {
	font: {
		style: normal;
		weight: normal;
		family: $icon_font;
	}
	@include float-left;

	span {
		display: inline-block;
		text-indent: -9999px;
		float: left;
		width: 0;
	}

	&.logo_pmb:after {
		content: 'P';
	}

	&.print:after {
		content: 'p';
	}

	&.search:after {
		content: 's';
	}

	&.plus:after {
		content: '+';
	}

	&.info:after {
		content: 'i';
	}

	&.iso9001:after {
		content: '[';
	}

	&.iso14001:after {
		content: ']';
	}

	&.upload:after {
		content: '2';
	}

	// Yahoo weather codes http://developer.yahoo.com/weather/#codes
	&.w3:after,
	&.w17:after,
	&.w45:after {
		content:'\E113';
	}

	&.w4:after,
	&.w37:after,
	&.w38:after,
	&.w39:after,
	&.w47:after {
		content:'\E108';
	}

	&.w5:after,
	&.w6:after,
	&.w7:after,
	&.w9:after,
	&.w10:after,
	&.w18:after,
	&.w35:after {
		content:'\E110';
	}

	&.w8:after {
		content:'\E10C';
	}

	&.w11:after,
	&.w12:after {
		content:'\E10A';
	}

	&.w13:after,
	&.w14:after,
	&.w42:after,
	&.w46:after {
		content:'\E10D';
	}

	&.w15:after,
	&.w16:after,
	&.w43:after {
		content:'\E10F';
	}

	&.w19:after,
	&.w20:after,
	&.w21:after,
	&.w22:after {
		content:'\E0FD';
	}

	&.w23:after,
	&.w24:after {
		content:'\E0FE';
	}

	&.w25:after {
		content:'\E0FF';
	}

	&.w26:after,
	&.w44:after {
		content:'\E106';
	}

	&.w27:after {
		content:'\E121';
	}

	&.w28:after {
		content:'\E111';
	}

	&.w29:after {
		content:'\E101';
	}

	&.w30:after {
		content:'\E100';
	}

	&.w31:after,
	&.w33:after {
		content:'\E0FB';
	}

	&.w32:after,
	&.w34:after {
		content:'\E0FA';
	}

	&.w36:after {
		content:'\E123';
	}

	&.w40:after {
		content:'\E109';
	}

	&.w29:after {
		content:'\E101';
	}

	&.w30:after {
		content:'\E100';
	}

	&.w1:after,
	&.w2:after,
	&.w3200:after {
		content:'\E125';
	}

	&.celsius:after {
		content:'\E126';
	}

	&.fahrenheit:after {
		content:'\E127';
	}
}

@mixin inverted-link($main-colour: $white, $hover-colour: $yellow) {
	@include unstyled-link;
	@include link-colors($main-colour, $hover-colour, $hover-colour, $main-colour);
}