header {
	@include container;
	@include clearfix;

	#main {
		background-color:$cyan;
		.home & {
			background-color:$blue;
		}
		@include span-columns(10, 12, $column-padding);

		@media screen and (min-width: 480px) and (max-width: 767px)  {
			@include span-columns(9, 12, $column-padding);
		}

		@media screen and (max-width: 479px) {
			@include span-columns(12, 12, $column-padding);
			margin-bottom: $gutter-width;
		}
	} // #main

	#weather {
		background-color:$cyan;
		.home & {
			background-color:$blue;
		}
		@include span-columns(2 omega, 12, $column-padding);

		@media screen and (min-width: 480px) and (max-width: 767px) {
			@include span-columns(3 omega, 12, $column-padding);
		}

		@media screen and (max-width: 479px) {
			@include span-columns(12, 12, $column-padding);
			margin-bottom: $gutter-width;
		}
	} // #weather

	#logo-pmb {
		@include float-left;
		height: 153px;

		h1 {
			margin: 33px 0 0 34px;
			@include clearfix;

			a {
				@include unstyled-link;
				color: #fff;
				font-size: 120px;
				line-height: 90px;
				height: 84px;
				width: 178px;
			}
		}
	} // #logo-pmb

	#helpers {
		@include float-right;
		height: 123px;
		margin: 15px;
		font-size: 1.2em;
		position: relative;

		#top {
			display: block;
			@include clearfix;
			@include float-right;

			.separator,
			#font_plus,
			#font_minus,
			#language_selector {
				@include float-left;
			}

			.separator {
				border-left:1px solid $white;
				margin: 3px 8px;
				height: 1em;
			}

			#print {
				font-size: 1.8em;
			}

			#font_plus,
			#font_minus,
			#print,
			#language_selector a {
				@include inverted-link($white, $yellow);
			}

			#language_selector {
				@include horizontal-list;

				li {
					padding: 0 4px;

					&.separator {
						margin-left: 4px;
						padding: 0;
					}
				}
			}
		} // #top

		#bottom {
			display: block;

			#secondary-menu {
				margin: 65px 0 8px;

				a {
					@include inverted-link($white, $yellow);
					padding-right: 6px;
					margin-right: 4px;
					border-right: 1px solid $white;

					&:last-child {
						padding-right:0;
						margin-right:0;
						border-right:none;
					}
				}
			} // #secondary-menu

			#searchbox {
				form {
					fieldset {
						border: none;
						margin: 0;
						padding: 3px 1px 0;
						background:$white;
						height: 20px;

						input[type="text"] {
							border:none;
							background:none;
							@include float-left;
							border-right:1px solid $cyan;
							width: 175px;
						}

						button {
							@include float-right;
							background:none;
							border:none;
							font-size: 1.3em;
							line-height: 0.9em;
							color: $cyan;

							&:hover {
								color: $yellow;
							}
						}
					} // fieldset
				} // form
			} // #searchbox
		} // #bottom
	} // #helpers

	#weather {
		height: 113px;
		color:$white;
		padding-top:40px;

		a {
			@include unstyled-link;
		}

		.data {
			@include float-left;

			span {
				margin: 0;
				font-weight: 300;
				display: block;
			}

			.degrees {
				font-size: 2.2em;
				margin-bottom: 10px;
			}

			.date {
				border-top: 1px solid $white;
				font-size: 0.9em;
			}

			.hour {
				font-size: 0.9em;
			}
		}

		.image {
			@include float-right;
			font-size: 5.5em;
			padding-top: 25px;
		}

		#switch_degrees {
			clear:both;
			padding-top: 5px;

			a {
				font-size: 0.9em;
				@include inverted-link;

				&.current {
					@include opacity(0.5);
				}
			}
		}
	}
} // header