nav {
	background-color: $orange;
	.home & {
		background-color: $red;
	}
	margin: 10px 0;
	z-index: 999;
	position: relative;

	ul {
		width: 100%;
		height: 48px;
		margin: 0;
		padding: 0;

		li {
			float: left;
			position: relative;

			a {
				@include unstyled-link;
				@include link-colors($white);
				@include ellipsis(true);
				font-size: 1.2em;
				display: block;
				padding: 14px 8px;
				border: {
					left:1px solid transparent;
					right: 1px solid transparent;
				}
				white-space: nowrap;
				max-width: 300px;

				&:hover {
					background-color:darken($orange, 15%);
					border: {
						left:1px solid rgb(112, 0, 4);
						right: 1px solid rgb(255, 46, 4);
					}

					.home & {
						background:$crimson_red;

						border: {
							left:1px solid darken($orange, 15%);
							right: 1px solid lighten($orange, 15%);
						}
					}
				}
			} // a

			&.current-menu-item {
				> a {
					@extend a:hover;
				}
			}
		} // li

		// First level dropdown
		ul {
			display: none;
			position: absolute;
			background:fade-out($orange, 0.05);
			.home & {
				background:fade-out($red, 0.05);
			}
			height: auto;
			width: auto;

			li {
				float: none;
				position: relative;

				a {
					padding: 8px;
				}

				// Second level dropdown
				ul {
					display: none;
					left: 100%;
					top: 0;
					border-left: 1px solid darken($orange, 30%);;
				}
			}
		} // ul

		& > li:hover > ul {
			display: block;
		}
	} // ul

	.icon.plus {
		float: right;
		margin-left: 5px;
	}
} // nav