.slider-wrapper {
	width: 100%;
	height: 350px;
	margin-bottom: 10px;
	position: relative;
	@include container;
	@include clearfix;
	z-index: 1;

	#slider {
		@include span-columns(12 omega, 12);

		li {
			position: relative;

			img {
				height: auto !important;
				width: 100%;
				position: relative;
				top:-25%;
			}

			.caption {
				background:rgba(0, 0, 0, 0.75);
				position: absolute;
				bottom: 75px;
				max-width: 75%;
				padding: 10px;

				.title {
					font-size: 5em;
					line-height: 0.9em;
					font-weight: 300;
					color: $white;
					margin: 0 0 10px;

				}

				.body {
					border-top:1px solid $white;
					padding-top: 10px;
					color: $white;
					font-weight: 300;
					margin: 0;
				}
			} // .caption

			.daynight {
				@include unstyled-link;
				@include link-colors($white, $blue, $blue, $white);
				text-align: center;
				font-size: 4em;
				line-height: 1.2em;
				height: 1.2em;
				position: absolute;
				top: 0;
				right: 0;
				@include span-columns(2 omega, 12);
				margin: 0;
				background-color:fade-out($yellow, 0.2);
				font: {
					style: normal;
					weight: normal;
					family: $icon_font;
				}

				&.day:after {
					content:'{';
				}

				&.night:after {
					content:'}';
				}
			}
		} // li
	} // #slider

	#arrow-left,
	#arrow-right {
		position: absolute;
		bottom: 0;
		background:$yellow;
	}

	#arrow-left {
		@include span-columns(2, 12);
		left:0;
	}

	#arrow-right {
		@include span-columns(2 omega, 12);
		right:0;
	}

	.arrow {
		a {
			display: block;
			text-align: center;
			font-size: 4em;
			line-height: 1.2em;
			height: 1.2em;
			@include link-colors($white, $blue, $blue, $white);
			@include unstyled-link;
			font: {
				style: normal;
				weight: normal;
				family: $icon_font;
			}

			span {
				display: inline-block;
				text-indent: -9999px;
				float: left;
				width: 0;
			}
		} // a

		&.back {
			a:after {
				content: '<';
			}
		}

		&.forward {
			a:after {
				content: '>';
			}
		}
	} // .arrow
}