// Typography
$main_font: 			'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$icon_font: 			'PMB Icons';
$base-font-size: 	12px;
$base-line-height:20px;

$use-mozilla-ellipsis-binding: true;

// Colour theme
$blue: 		rgb(0, 74, 156);
$red: 		rgb(229, 0, 4 );
$yellow: 	rgb(253, 202, 0);
$orange: 	rgb(255, 77, 4);
$green: 	rgb(151, 191, 0);
$cyan: 		rgb(33, 163, 196);
$white: 	rgb(255, 255, 255);
$black: 	rgb(0, 0, 0);
$gray: 		rgb(128, 128, 131);
$gray-dark:rgb(80, 79, 83);

$crimson_red: rgb(163, 0, 4);

// Susy grid
$total-columns: 	12;
$column-width: 		(100% / $total-columns);
$gutter-width: 		1%;
$grid-padding: 		0;
$column-padding: 	0.5%;